body{

    background-color: azure;
    text-align: center;
}



.menu {
     text-align: right;
    background-color: #7fffd4;
    border-radius: 50px 0 50px 0;
    margin: 70px 300px 10px 300px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    text-decoration: none;
}
button{
    margin: 0 20px 0 20px;
    padding: 5px 10px 5px 10px;
    border: solid azure;
    border-radius: 20px;
    color: rgb(86, 69, 49);
    background-color: snow;
    font-weight: bold;
    
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100px;
    margin-top: 100px;
  


}
.myname{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: azure;
}
.role {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}
.aboutme {
    border: solid;
    border-radius: 0 100px 0 100px;
    background-color: #7fffd4;
    padding:25px ;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    

}
img {
    text-align: center;
    height:300px; 
    width: 300px; 
    border:solid 10px snow;
    border-radius: 50%;
}
.image {
    text-align: center;
}
    p{
        color: black;
        
    }
    
    
    
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 12px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px 12px;
      text-align: center;
    }
    th {
      background: #f7f7f7;
      font-weight: bold;
    }
    .subtitle {
      font-weight: bold;
    }
    .levels {
      font-size: 0.95em;
      color: #666;
      margin-top: 10px;
      font-style: italic;
    }

    .contact {
        text-align: left;
        margin: 0 0 0 100px;
    }

    .form {

        text-align: left;
        margin: 0 0 0 100px;
        border: solid;
        
        
    }

    .sendButton {
        margin: 20px 0 20px 0;
    }

    #socialMedia {
        text-align: center;
        font-family: helvetica;
        font-size: 20px;
        
    }

    a:hover{
        text-decoration: none;
    }
    h4 {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }